<style>
  @media only screen and (max-device-width: 480px) {
    .banner {
      width: 100%;
    }
  }
  .banner {
    width: 100%;
  }
</style>
<p id="notice"><%= notice %></p>

<p>
  <% if @artikel.thumbnail.attached? %>
    <img class="banner" src="<%= url_for(@artikel.thumbnail)  %>" >
  <% end %>
</p>

<p>
  <h3>
    <strong>
      <%= @artikel.judul %>
    </strong>
  </h3>
</p>

<p>
  <h4>

  <%= @artikel.content %>
  </h4>
</p>
