<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pendamping_laporan.name %>
</p>

<%= link_to 'Edit', edit_pendamping_laporan_path(@pendamping_laporan) %> |
<%= link_to 'Back', pendamping_laporans_path %>
